header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

}
*{
    padding: 0;
    box-sizing: border-box;

}
header a{
    text-decoration: underline;
    color:whitesmoke;
    justify-content: space-between;

}
header img{
    width:100px;
    height: 100px;
}
header nav{
    padding: 20px;
    
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.intro .image-side img{
    width:500px;
    padding: 70px 40px;
}

@keyframes moveImage{
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(200px) ;
    }
}
.intro img{
    width:100%;
    animation: moveImage 2s infinite alternate ease-in-out;
}
.intro .text-side{
    font-size: 30px;
    color: white;
}
body{
    background-color:#333;

}
@keyframes moveright{
    from{
        transform: translateX(100%);

    }
    to{
        transform: translateX(-100%);
    }}
.hero{
    color: antiquewhite;
}
.hero .text-side ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-content: stretch;
    animation: moveright 12s linear infinite;
    

}
.hero .text-side img{
    height: 400px;
    width: 300px;
}
.hero .text-side h3{
    text-align: center;
}
.discover{
    background-color:azure;
    padding: 70px 40px;
    text-align: center;
    font-size: 30px;
}
.cta{
    background-color: azure;
    text-align: center;
    padding: 70px 40px;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: infinite;
}
button{
    background-color:blueviolet;
    color: black;
    padding:30px 30px ;
    border-radius: 10px;
    

}
button:hover{
    background-color: white;
    cursor: pointer;
}
.footer-section{
    display: flex;
    align-items: center;
}
.footer-section ul li{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.footer-section a{
    display: block;
text-decoration: none;
}
.login{
    background-color: #333;

    

}
.log{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 15px;
    border: 1px solid lightblue;
    border-radius: 5px;
    height: 400px;

}
input{
    margin: 5px 0px;
    height: 35px;
    padding: 7px;
}
.line{
    height: 35px;
    margin: 5px 0px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: #333;
}
.line:hover{
    background-color: #333;
    color: lightblue;
}