header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

}
*{
    padding: 0;
    box-sizing: border-box;

}
header a{
    text-decoration: underline;
    color:black;
    justify-content: space-between;
}
header img{
    width:100px;
    height: 100px;
}
header nav{
    padding: 20px;
    
}
.intro{
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.intro .image-side img{
    width:500px;
    padding: 70px 40px;
}


.intro .text-side{
    font-size: 30px;
    color: white;
}
body{
    background-color: blueviolet;
}
.hero .text-side ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero .text-side img{
    height: 400px;
    width: 300px;
}
.hero .text-side h3{
    text-align: center;
}
.discover{
    background-color:azure;
    padding: 70px 40px;
    text-align: center;
    font-size: 30px;
}
.cta{
    background-color: azure;
    text-align: center;
    padding: 70px 40px;
    font-size: 20px;
    background-image: url(s-l500.webp);
    background-repeat: no-repeat;
    background-size: cover;
    animation: infinite;
}
button{
    background-color:blueviolet;
    color: black;
    padding:30px 30px ;
    border-radius: 10px;
    

}
button:hover{
    background-color: white;
    cursor: pointer;
}
.footer-section{
    display: flex;
    align-items: center;
}
.footer-section ul li{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.footer-section a{
    display: block;
text-decoration: none;
background-image: url(mPGmT0r6IeTyIee.png);
background-repeat: no-repeat;
background-size: cover;
}